@{
    ViewBag.Title = "VOA Donor Application";    
    Layout = "~/Views/Shared/_LayoutNav.cshtml";    
}

<div class="grid">
    <br/>
    <br/>
    <div class="row">
        <a href="~/Pickup">
            <div class="tile bg-cobalt">
                <div class="tile-content"></div>
                <div class="brand bg-black fg-white">Pickup Request</div>
            </div>
        </a>

        <div class="tile bg-cobalt">
            <div class="tile-content"></div>
            <div class="brand bg-black fg-white">Lookup Pickup</div>
        </div> 

        <div class="tile bg-darkBlue">
            <div class="tile-content"></div>
            <div class="brand bg-black fg-white">Enter Drop Off</div>
        </div> 

        <div class="tile bg-darkBlue">
            <div class="tile-content"></div>
            <div class="brand bg-black fg-white">Lookup Drop Off</div>
        </div> 

        <div class="tile bg-amber">
            <div class="tile-content"></div>
            <div class="brand bg-black fg-white">Schedule Routes</div>
        </div> 

        <a href="~/Report/TruckSlips">
            <div class="tile bg-amber">
                <div class="tile-content"></div>
                <div class="brand bg-black fg-white">Truck Slips</div>
            </div>
        </a>

        <a href="~/Report/AddressList">
            <div class="tile bg-amber">
                <div class="tile-content"></div>
                <div class="brand bg-black fg-white">Address List</div>
            </div>
        </a>

        <a href="~/Report/CustomerReceipts">
            <div class="tile bg-amber">
                <div class="tile-content"></div>
                <div class="brand bg-black fg-white">Customer Receipts</div>
            </div>
        </a>
</div>
    
</div>