
@{
    ViewBag.Title = "ReviewPickup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">
    <form action="~/Pickup/Review">
        <fieldset>
            <legend>Schedule Donation Pickup</legend>
            <nav class="breadcrumbs" style="margin-bottom:25px">
                <ul>
                    <li><a href="~/Home"><i class="icon-home"></i></a></li>
                    <li><a href="~/Pickup">Look Up Donor</a></li>
                    <li><a href="~/Pickup/SearchDonor">Select Donor</a></li>
                    <li><a href="~/Pickup/SelectDate">Select Date</a></li>
                    <li><a href="~/Pickup/SelectMerchandise">Select Merchandise</a></li>
                    <li><a href="~/Pickup/SelectPickupLocation">Select Pickup Location</a></li>
                    <li class="active"><a href="">Review Pickup</a></li>
                </ul>
            </nav>
            <label>Donor Information</label>
            <div class="input-control text" data-role="input-control">
                <input name="DonorName" readonly type="text" placeholder="Enter last name..." autofocus>
            </div>
            <div class="input-control text" data-role="input-control">
                <input name="Address1" readonly type="text" placeholder="Address1...">
            </div>
            <div class="input-control text" data-role="input-control">
                <input name="Address2" readonly type="text" placeholder="Address1...">
            </div>
            <div class="input-control text" data-role="input-control">
                <input name="Address3" readonly type="text" placeholder="Address1...">
            </div>
            <div class="input-control text" data-role="input-control">
                <input name="TelephoneNumber" readonly type="text" placeholder="Address1...">
            </div>
            <div class="input-control text" data-role="input-control">
                <input name="AltTelephoneNumber" readonly type="text" placeholder="Enter zip code...">
            </div>
            <div class="input-control text" data-role="input-control">
                <input name="EmailAddress" readonly type="text" placeholder="Enter zip code...">
            </div>
            <div class="input-control text" data-role="input-control">
                <input name="Notes" readonly type="text" placeholder="Enter zip code...">
            </div>
            <div class="input-control text" data-role="input-control">
                <input name="Merchandise" readonly type="text" placeholder="List merchandise...">
            </div>

            <input type="submit" value="Search" />
            <input type="reset" value="Reset" />

            <div style="margin-top: 20px">
            </div>
        </fieldset>
    </form>
</div>